<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PenguinMiner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PenguinMiner.Properties.Settings>
            <setting name="MiningPoint1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MiningPoint2" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Actions" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Dance" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="IsWarningEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </PenguinMiner.Properties.Settings>
    </userSettings>
</configuration>